<footer class="footer">
  <div class="justify-content-between text-center fs--1 mt-4 mb-3 row">
    <div class="col-sm-auto">
      <br class="d-sm-none">2022 © <img src="/images/logo_noobitar_footer.png" alt="">
    </div>
    <div class="col-sm-auto">
      <p class="mb-0 text-600"><img src="/images/logo_footer_LD.png" alt=""> v3.7.1</p>
    </div>
  </div>
</footer>


</div>


</div>

</main>

    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="/assets/sidebars.js"></script>
      <script src="/assets/dashboard.js"></script>
  </body>
</html>