<!doctype html>
<html lang="en" dir="ltr" class="windows chrome"><!-- navbar-vertical-collapsed -->
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/features/">
    <link href="/assets/customs.css" rel="stylesheet">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/theme.min.css" rel="stylesheet">
    <link href="/_assets/dashboard.css" rel="stylesheet">
    <link href="/assets/features.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script>function toggle_btn(elemento) {
      if(elemento.value=='') {
          document.getElementById("btn_procesar").disabled = "disabled";
       } else {
          document.getElementById("btn_procesar").disabled = "";
      }
    }
    </script>


  <script language="JavaScript">
    function Show_Hide(id){
      if (document.getElementById){ 
        var el = document.getElementById(id); 
        el.style.display = (el.style.display == 'block') ? 'none' : 'block'; 
      }
    }  
  </script>









<!-- autocomplete -->
<script src="/assets/autocomplete/jquery-1.11.1.min.js"></script>
<script src="/assets/autocomplete/jquery-ui.min.js"></script>
<script src="/assets/autocomplete/jquery.select-to-autocomplete.js"></script>
<script>
  (function($){
    $(function(){
    // $('#buscador_localizador').selectToAutocomplete();
    // $('#buscador_crm').selectToAutocomplete();
    // $('#buscador_ordenes').selectToAutocomplete();
    // $('#cliente').selectToAutocomplete();
    // $('#serie_cliente').selectToAutocomplete();
    
    });
  })(jQuery);
  
  
</script>
  
<link rel="stylesheet" href="/assets/autocomplete/jquery-ui.css">
  
  
<!-- fin autocomplete -->
</head>