<nav class="navbar-glass  fs--1 navbar-top sticky-kit navbar-glass-shadow navbar navbar-expand navbar-light">
  <div aria-label="Toggle navigation" class="toggle-icon-wrapper me-md-3 me-2 d-xl-none navbar-toggler">
    <button class="navbar-toggler-humburger-icon btn btn-link d-flex flex-center" id="burgerMenu">
      <span class="navbar-toggle-icon">
        <span class="toggle-line"></span>
      </span>
    </button>
  </div>
  <a class="text-decoration-none navbar-brand text-left" id="topLogo" href="/">
    <div class="d-flex align-items-center"><img class="me-2" src="/images/logo.png" alt="Logo" width="130"></div>
  </a>
  <ul class="align-items-center d-none d-lg-block navbar-nav">
    
  </ul>
  <ul class="navbar-nav-icons ms-auto flex-row align-items-center navbar-nav">
    
    <li class="dropdown">
      <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Admin</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </li>
  </ul>
</nav>
