<div class="col-lg-4">
    <div class="sticky-sidebar top-navbar-height d-flex flex-column">
        <div class="mb-lg-3 order-lg-0 order-1 card">
            <div class="py-2 d-flex flex-between-center card-header">
                <h5 class="mb-0">Box Demo 1</h5>
            </div>
            <div class="bg-light card-body"></div>
            
        </div>
        <div class="bottom-bar rounded-0 d-lg-none hide card">
            <div class="py-2 px-0 card-body">
                
            </div>
        </div>



    <div class="mb-3 card">
        <div class="card-header">
            <h5 class="mb-0 d-inline-block">Box Demo 2</h5>
        </div>
        <div class="bg-light card-body">
            
        </div>
    </div>
    <div class="mb-3 card">
        <div class="card-header">
            <h5 class="mb-0 d-inline-block">Box Demo 3</h5>
        </div>
        <div class="bg-light card-body">
            
        </div>
    </div>
    <div class="mb-3 mb-lg-0 card">
        <h5 class="card-header">Box Demo 4</h5>
        <div class="bg-light card-body">
            <div class="gx-2 gy-3 row">
                
            </div>
            <div class="text-end"></div>
        </div>
    </div>