  <nav class="navbar-vertical navbar navbar-expand-xl navbar-light">
    
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">
        
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <img src="/images/logo.png" alt="">
        </a>
      </div>
    </div>
    
    <div class="navbar-collapse collapse" style="background-image: none;">
      <div class="navbar-vertical-content scrollbar">
        <ul class="list-unstyled ps-0">
          <li>
            <i class="bi-boxes"></i><a href="/"> Dashboard</a>
          </li>

          <li class="nav-item">
            <div class="mt-3 mb-2 navbar-vertical-label-wrapper row">
              <div class="navbar-vertical-label navbar-vertical-label col-auto"><i class="bi-wrench-adjustable"></i> Pedidos</div>
              <div class="ps-0 col">
                <hr class="mb-0 navbar-vertical-divider">
              </div>
            </div>
          </li>
          
          <li class="mb-1">
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
              Home
            </button>
            <div class="collapse" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <div class="mt-3 mb-2 navbar-vertical-label-wrapper row">
              <div class="navbar-vertical-label navbar-vertical-label col-auto"><i class="bi-wrench-adjustable"></i> Equipos</div>
              <div class="ps-0 col">
                <hr class="mb-0 navbar-vertical-divider">
              </div>
            </div>
          </li>

          <li class="mb-1"> 
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Dashboard
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Orders
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
              </ul>
            </div>
          </li>

          <li class="border-top my-3"></li>

          <li class="mb-1">
            <i class="bi-life-preserver"></i> Ayuda
          </li>
        </ul>
        
        <div class="settings my-3">
          <div class="p-0 bg-white rounded-2 position-relative card">
            <div class="position-absolute" style="right: 3px; top: 3px;">
              <button type="button" class="btn-close btn btn-sm outline-none" aria-label="Close"></button>
            </div>
            <div class="text-center card-body">
              <img src="/images/navbar-vertical.8de69786.png" alt="" width="80">
              <p class="fs--2 mt-2">
                Loving what you see?<br>
              </p>
              <div class="d-grid gap-2">
                <a role="button" tabindex="0" href="#" target="_blank" class="btn-purchase btn btn-primary btn-sm">Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>