<%- include partials/header.ejs %>
<body>
  <noscript></noscript>
  <main class="main" id="main">
    <!-- container-fluid -->
	<div class="container-fluid">
      <!-- nav -->
      <%- include partials/sidebar.ejs %>
      <!-- fin nav -->

      <div class="content">
        <!-- header -->
        <%- include partials/nav.ejs %>
        <!-- fin header -->

        <!-- contenido -->
        <div class="mb-3 card">
            Dashboard
        </div>
        <!-- fin contenido-->

        <!-- footer -->
        <%- include partials/footer.ejs %>
        <!-- fin footer -->
