body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(224, 224, 224);
}

a {
  color: #0475a1;
}
.container {
  display: flex;
}
.clienteCard {
  padding: 15px;
  background: rgb(252, 234, 185);
  margin: 15px;
  box-shadow: 10px 5px 5px black;
}


